# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
.venv*/
venv*/

# Entornos
.env
.env.*

# Logs y temporales
*.log
*.pid
*.sock

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Docker y datos
mysql_data/
var/uploads/
