<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Incidex" }}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include "_partials/header_public.html" %}
  {% include "_partials/flash_toasts.jinja" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "_partials/footer.html" %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>